framework: net472
redirects: on
source https://api.nuget.org/v3/index.json

nuget FsCheck >= 2.4
nuget FSharp.Collections.ParallelSeq
nuget FSharp.Core 4.3.4

nuget WebSharper.FSharp >= 4.0.189.96-rc
nuget Expecto.VisualStudio.TestAdapter version_in_path: true
nuget Expecto ~> 8.9.1
nuget YoloDev.Expecto.TestSdk 0.7.0

nuget System.ValueTuple >= 4.3.1