framework: net472
redirects: on
source https://api.nuget.org/v3/index.json

nuget FsCheck >= 2.4
nuget FSharp.Collections.ParallelSeq
nuget FSharp.Core 4.0.0.1

nuget WebSharper.FSharp >= 4.0.189.96-rc